<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split the bills!</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body>
<h2>Fill the form and click submit</h2>>    
<form action="/bill" method="post">
    {{bill_form.amount.label}}{{bill_form.amount}}
    <br>
    {{bill_form.period.label}}{{bill_form.period}}
    
    <hr>
    <p>First Flatmate</p>
    <br>
    {{bill_form.name1.label}}{{bill_form.name1}}
    <br>
    {{bill_form.days_in_the_house1.label}}{{bill_form.days_in_the_house1}}
    
    <hr>
    <p>Second Flatmate</p>
    <br>
    {{bill_form.name2.label}}{{bill_form.name2}}
    <br>
    {{bill_form.days_in_the_house2.label}}{{bill_form.days_in_the_house2}}

    <br>
    {{bill_form.button}}

    {% if result %}

    <br>
    {{name1}} pays {{amount1}}
    <br>
    {{name2}} pays {{amount2}}

    {% endif %}

</form>>
</body>
</html>